h1{   
    background-image: url("https://images.unsplash.com/photo-1467825487722-2a7c4cd62e75?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    height: 300px;
    background-size: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    opacity: 0.9;    
}
h1> div {
    color: rgb(255, 255, 255) ;
    font-size: 150px;
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: -75px;
    
}
h2 {
    color: rgb(44, 175, 175);
    font-size: 50px;
    margin: 30px;
    
}
table, td{
    border: 2px solid black;
    margin-left: 80px;
    font-size: 20px;
}
td {
    padding: 5px;
}
p {
    color: rgb(65, 15, 15);
    margin-left: 80px;
    margin-right: 80px;
    font-size: 20px;
}
body{
    background-image: url('https://images.unsplash.com/photo-1607457561901-e6ec3a6d16cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
    
    background-size: 100% 100%
}
